---
import TableOfContentsList from "../../../node_modules/@astrojs/starlight/components/TableOfContents/TableOfContentsList.astro";
import type { Props } from "@astrojs/starlight/props";
import { Icon } from "@astrojs/starlight/components";

const { toc, editUrl} = Astro.props;
---

{
  toc && (
    <starlight-toc
      data-min-h={toc.minHeadingLevel}
      data-max-h={toc.maxHeadingLevel}
    >
      <nav aria-labelledby="starlight__on-this-page">
        <TableOfContentsList toc={toc.items} />
        <h2 class="contribute">Contribute</h2>
        <ul>
          <li>
            <a href="/tuhura-tech/contribute/">
              <Icon name="open-book" /> Contribute
            </a>
          </li>
          <li>
            <a href={editUrl}>
              <Icon name="pencil" /> Edit this page
            </a>
          </li>
          <!-- <li>
            <a href="/tuhura-tech/i18n/">
              <Icon name="translate" /> Translate this page
            </a>
          </li> -->
        </ul>
      </nav>
    </starlight-toc>
  )
}

<style>
  ul {
    padding: 0;
    list-style: none;
  }

  .contribute {
    margin-top: 1rem;
  }
</style>

<script
  src="../../../node_modules/@astrojs/starlight/components/TableOfContents/starlight-toc"
></script>
