---
import TableOfContentsList from '../../../node_modules/@astrojs/starlight/components/TableOfContents/TableOfContentsList.astro';
import type { StarlightRouteData } from '@astrojs/starlight/route-data';
import TutorialNav from '../tutorial/TutorialNav.astro';

const isTutorial = Astro.locals.starlightRoute.entry.data.type === 'tutorial';

const { toc } = Astro.locals.starlightRoute;
---

{
	toc && (
		<starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
			<nav aria-labelledby="starlight__on-this-page">
				<h2 id="starlight__on-this-page">
					{isTutorial
						? Astro.locals.t('tutorial.trackerLabel')
						: Astro.locals.t('tableOfContents.onThisPage')}
				</h2>
				{isTutorial ? <TutorialNav {...Astro.locals.starlightRoute} /> : <TableOfContentsList toc={toc.items} />}
			</nav>
		</starlight-toc>
	)
}

<script src="../../../node_modules/@astrojs/starlight/components/TableOfContents/starlight-toc"
></script>
