/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- 
 */

:root {
  --vp-c-green: #6aa469;
  --vp-c-green-light: #80b17f;
  --vp-c-green-lighter: #80b17f;
  --vp-c-green-dark: #6aa469;
  --vp-c-green-darker: #6aa469;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
  --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);
}
