---
import { Icon } from '@astrojs/starlight/components';
---

<section class="sl-flex">
	<a href={`/contribute/`} class="sl-flex">
		<Icon name="open-book" size="1.2em" />
		Contribute
	</a>

	<a href="https://givealittle.co.nz/org/tuhura-tech" class="sl-flex">
		<Icon name="heart" size="1.2em" />
		Donate
	</a>
</section>

<style>
	section {
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1.5rem;
		font-size: var(--sl-text-sm);
	}

	a {
		align-items: center;
		text-decoration: none;
		gap: 0.5rem;
		color: var(--sl-color-gray-3);
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>
