---
---

<div
	class={`highlight-box content`}>
	<section>
		<slot />
	</section>
</div>

<style>
	.highlight-box {
		position: relative;
		padding-block: 2rem;
		padding-inline-start: 4rem;
		padding-inline-end: 4rem;
		border: 1px solid var(--sl-color-green);
		border-radius: 5px;
		background-color: var(--sl-color-green-low);
		color: var(--sl-color-green-purple);
		margin-top: 2.5rem !important;
	}
	.highlight-box.check-list {
		border: 1px solid var(--sl-color-green);
		background-color: var(--sl-color-green-low);
	}
</style>