name: CI

on:
  push:
    branches: [main]
  merge_group:
  pull_request:

# Automatically cancel in-progress actions on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  astrocheck:
    name: Check for type issues with astro check
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: true
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install Tools & Dependencies
        uses: ./.github/actions/install

      - name: Run Check
        run: pnpm run check
  eslint:
    name: Check for code issues with ESLint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install Tools & Dependencies
        uses: ./.github/actions/install

      - name: Run Check
        run: pnpm run lint:eslint
