name: 'Format Code'

on:
  push:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ github.head_ref }}
          # Needs access to push to main
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - name: Install Tools & Dependencies
        uses: ./.github/actions/install
      - name: Format code
        run: pnpm run format:ci
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5
        with:
          commit_message: '[ci] format'
          branch: ${{ github.head_ref }}
          commit_user_name: bot
          commit_user_email: bot@tuhuratech.org.nz
